body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

h1, h2 {
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

iframe {
    width: 100%;
    max-width: 560px;
}

@media (max-width: 600px) {
    body {
        margin: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
