body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}
