body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background: #2d7be5;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

/* Navbar */
.navbar-custom {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 25px;
}

.navbar-custom a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

/* Container */
.container {
    background: #eee;
}

/* Columns */
.column {
    padding: 20px;
}

/* Divider */
.divider {
    border-left: 3px solid black;
    height: 200px;
}

/* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
